$gutter: 10px;
$font-lg: 18px;
$font-sm: 11px;

.acf-google_fonts {

  *, *:before, *:after { box-sizing: border-box; }
  .acf-google_fonts-text_left { text-align: left; }
  .acf-google_fonts-text_center { text-align: center; }
  .acf-google_fonts-text_right { text-align: right; }

  // Scafolding
  .acf-google_fonts-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$gutter;
    margin-left: -$gutter;

    .acf-google_fonts-column {
      position: relative;
      width: 100%;
      padding-right: $gutter;
      padding-left: $gutter;

      flex-basis: 0;
      flex-grow: 1;
      min-width: 0;
      max-width: 100%;
    }
  }

  // List
  ul.acf-google_fonts-list {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;

    > li {
      display: block;
      margin: 0;
      padding: 0;
      float: none;
      font-size: 13px;
      line-height: 22px;
      position: relative;
      word-wrap: break-word;
    }
  }

  // Label
  .acf-google_fonts-label {
    text-transform: uppercase;
    margin-bottom: $gutter / 2;
    font-size: $font-sm;
    letter-spacing: 0.5px;
  }

  // Preview
  .acf-google_fonts-preview {
    margin-bottom: $gutter;

    .acf-google_fonts-label {
      position: relative;
      z-index: 2;
      display: inline-block;
      padding: 5px;
      margin-bottom: -1px;
      background-color: #F9F9F9;
      border: 1px solid #eee;
      border-bottom: 0;
      line-height: 1;
    }

    .acf-google_fonts-preview_text {
      display: block;
      padding: $gutter;
      background-color: #F9F9F9;
      border: 1px solid #eee;
      font-size: $font-lg;
    }

    .acf-google_fonts-preview_link {
      a {
        font-size: $font-sm;
        &:after {
          content: '\00BB';
          display: inline-block;
          margin-left: $gutter / 2;
        }
      }
    }

  }

}
